{
    "ecmaFeatures": { 
        "jsx": true,
        "modules": true,
        "classes": true
    },
    "globals": {
        "window": true,
        "document": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        // Strict mode
        "strict": [2, "never"]
    }
}